.scrollbar::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: #d9d9d9;
	border-radius: 20px;
}

.hide {
	display: none !important;
}

.inp .inp-area {
	position: relative;
}

.inp .inp-area .auth-txt {
	position: absolute;
	right: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	font-size: 12px;
	font-weight: 700;
	color: #346AFF;
}

.inp .inp-file {
	display: none;
}

.inp .ico-upload-group {
	position: relative;
	padding: 4px 20px;
	min-height: 50px;
	height: auto;
}

.ico-upload-group2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
}

.ico-upload-group2 .inp-file-text {
	padding: 0 20px;
	width: calc(100% - 140px);
	height: 50px;
	border: 1px solid #DDD;
	border-radius: 10px;
}

.ico-upload-group2 .btn-con {
	margin-left: 10px;
}

.ico-upload-group2 .btn-con .btn + .btn {
	margin-left: 10px;
}

.readonly .ico-upload-group2 {
	position: relative;
}

.readonly .ico-upload-group2 .inp-file-text {
	width: 100%;
	background-color: #eee;
}

.ico-upload-group2 .auth-txt {
	position: absolute;
	right: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	font-size: 12px;
	font-weight: 700;
	color: #346AFF;
}

.search-con .inp-select {
	margin-left: auto;
	width: 160px;
}

.search-con .inp-select .select-area {
	height: 40px;
}

.search-con .inp-select .select {
	padding: 0 10px;
}

.search-con .inp-select .select .selected-value {
	font-size: 14px;
}

.search-con .inp-select .select::after {
	width: 16px;
}

.search-con .inp-select .list {
	top: 30px;
	padding: 15px 10px 10px;
	font-size: 14px;
}

.search-con .inp-select .list li {
	padding: 5px 0;
	line-height: 1.3;
}

.inp.inp-upload .btn-con {
	display: none;
}

.inp .uploaded .ico-upload {
	display: none;
}

.inp .uploaded .ico-multi {
	display: block;
	position: absolute;
	right: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.inp .uploaded .inp-file-text {
	display: none;
}

.inp-file-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: -10px;
	width: 90%;
}

.inp-file-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 30px;
	margin-bottom: 10px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-width: 180px;
	width: calc(20% - 24px);
}

.inp-file-list li:last-of-type {
	margin-right: 0;
}

.inp-file-list li span {
	display: block;
	overflow: hidden;
	width: calc(100% - 30px);
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.inp-file-check {
	width: 100%;
}

.inp-file-check li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
}

.inp-file-check li span {
	display: block;
	overflow: hidden;
	width: calc(100% - 20px);
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.order-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.order-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 30px;
	height: 30px;
	font-size: 14px;
	color: #BBB;
	border: 1px solid #DDD;
	border-radius: 50%;
}

.order-list li + li {
	margin-left: 10px;
}

.order-list li.active {
	background-color: #222;
	color: #FFF;
	font-weight: 700;
	border-color: #222;
}

.join-con {
	margin-top: 54px;
}

.join-con .title-con {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 30px;
}

.join-con .title-con h2 {
	margin-bottom: 0;
}

.join-con .join-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.join-con .join-list .items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	padding: 60px 20px;
	width: calc(33.33% - 20px);
	height: 450px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
}

.join-con .join-list .items .title h3 {
	font-size: 22px;
	font-weight: 700;
	color: #222;
}

.join-con .join-list .items .title p {
	margin-top: 8px;
	color: #666;
}

.join-con .join-list .items .icon {
	position: absolute;
	left: 50%;
	top: 46%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 150px;
	height: auto;
}

.join-con .join-list .items .btn {
	max-width: 180px;
	width: 100%;
}

.join-con .terms-con .title-check {
	margin-bottom: 30px;
	padding: 24px 0;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.join-con .terms-con .sub-con .sub-check {
	margin-bottom: 45px;
}

.join-con .terms-con .sub-con .sub-check .inp-chk {
	margin-bottom: 20px;
}

.join-con .terms-con .sub-con .sub-check .detail-con {
	padding: 6px;
	height: 155px;
	color: #666;
	line-height: 1.3;
	border: 1px solid #DDD;
	border-radius: 10px;
}

.join-con .terms-con .sub-con .sub-check .detail-con .scrollbar {
	overflow: hidden auto;
	padding: 14px;
	width: 100%;
	height: 100%;
}

.join-con .terms-con .btn {
	margin-top: 0;
}

.join-con .info-con .auth-inp {
	display: none;
}

.join-con .info-con .auth-inp.show {
	display: block;
}

.join-con .info-con .auth-inp .inp-tel {
	margin-top: 20px;
}

.accordion-list {
	margin-top: 20px;
	border-top: 1px solid #222;
}

.accordion-list .items {
	border-bottom: 1px solid #DDD;
}

.accordion-list .items .title {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 16px 20px;
	cursor: pointer;
}

.accordion-list .items .title::after {
	content: "";
	position: absolute;
	right: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background: url("../img/common/ico_arrow_down.svg") no-repeat center/100% auto;
}

.accordion-list .items.active .title {
	border-bottom: 1px solid #DDD;
}

.accordion-list .items.active .title::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	    -ms-transform: translateY(-50%) rotate(180deg);
	        transform: translateY(-50%) rotate(180deg);
}

.accordion-list .items .title .tag-con {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.accordion-list .items .title .num {
	margin-right: 20px;
	width: 40px;
	font-weight: 500;
}

.accordion-list .items .title .tag {
	display: block;
	margin-right: 20px;
	width: 80px;
	height: 32px;
	line-height: 30px;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	border-radius: 30px;
	border: 1px solid #222;
}

.accordion-list .items .title .txt {
	font-size: 16px;
	font-weight: 500;
}

.accordion-list .items .title .date {
	margin-left: 20px;
	color: #666;
}

.accordion-list .items .desc {
	display: none;
	margin: 40px 0;
	color: #666;
	line-height: 1.4;
	white-space: pre-line;
}

.accordion-list.faq .items .title .txt {
	padding-right: 50px;
	width: calc(100% - 100px);
}

.accordion-list.faq .items .desc {
	padding: 0 50px 0 120px;
}

.accordion-list.inquiry .items .title .txt {
	width: calc(100% - 320px);
}

.accordion-list.inquiry .items .desc {
	padding: 0 50px 0 180px;
}

.accordion-list.notice .items .title .txt {
	width: calc(100% - 320px);
}

.accordion-list.notice .items .desc {
	padding: 0 50px 0 120px;
}

.accordion-list.notice .items.read .tag {
	color: #999;
	border-color: #999;
}

.accordion-list.notice .items.read .txt {
	color: #999;
}

.accordion-list.notice .items.read .date {
	color: #999;
}

.accordion-list.notice .items.read .desc {
	color: #999;
}

.service-con .title-con {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.service-con .title-con .btn {
	margin-bottom: 30px;
}

.mypage-con .column-con {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

.mypage-con .column-con > div {
	margin-right: 20px;
	margin-top: 0;
	width: calc(50% - 10px);
}

.mypage-con .column-con > div:last-of-type {
	margin-right: 0;
}

.mypage-con .column-con > div .white-box {
	height: calc(100% - 64px);
}

.channel-con {
	margin-top: 60px;
}

.channel-con .title-con {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.channel-con .title-con .btn {
	margin-bottom: 30px;
}

.channel-con .table .type span {
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 32px;
	line-height: 30px;
	font-size: 12px;
	font-weight: 700;
	border: 1px solid #222;
	border-radius: 30px;
}

.channel-con .table .ta-l {
	text-align: left;
}

.channel-con .table .status .type-01 {
	color: #346AFF;
	text-decoration: underline;
	text-underline-position: under;
}

.channel-con .table .status .type-02 {
	color: #F0142F;
	text-decoration: underline;
	text-underline-position: under;
}

.channel-con .table .status .type-03 {
	color: #666;
}

.id-con {
	margin-top: 60px;
}

.id-con .title-con {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.id-con .title-con .btn {
	margin-bottom: 30px;
}

.step-con {
	margin-bottom: 65px;
}

.step-con:last-of-type {
	margin-bottom: 0;
}

.step-con .inp-radio + .inp-radio {
	margin-top: 20px;
}

.step-con .etc-con {
	margin-top: 20px;
}

.step-con .inp-text-area {
	margin-top: 12px;
}

.step-con .guide-con {
	padding-bottom: 40px;
	border-bottom: 1px solid #DDD;
}

.step-con .guide-con ul {
	margin-bottom: 20px;
}

.step-con .guide-con ul:last-of-type {
	margin-bottom: 0;
}

.step-con .guide-con ul li {
	position: relative;
	padding-left: 16px;
	font-size: 16px;
	color: #666;
	line-height: 1.5;
}

.step-con .guide-con ul li::before {
	content: "";
	position: absolute;
	left: 2px;
	top: 10px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #666;
}

.step-con .inp-chk {
	margin-top: 24px;
	text-align: center;
}

.step-check-con .white-box {
	padding: 25px 40px;
}

.step-check-con .inp-chk {
	margin-top: 0;
	text-align: center;
}

@media (max-width: 1500px) {
	.mypage-con .column-con {
		display: block;
	}

	.mypage-con .column-con > div {
		margin-right: 0;
		width: 100%;
	}

	.mypage-con .column-con > div:last-of-type {
		margin-top: 60px;
	}

	.mypage-con .column-con > div .white-box {
		height: auto;
	}
}
@media (max-width: 1200px) {
	.join-con .join-list .items {
		padding: 60px 10px;
		height: 400px;
	}

	.join-con .join-list .items .title h3 {
		font-size: 18px;
	}

	.join-con .join-list .items .title p {
		font-size: 14px;
	}

	.join-con .join-list .items .btn {
		max-width: 150px;
		height: 40px;
	}
}
@media (max-width: 960px) {
	.search-con .inp-select {
		width: 100%;
	}

	.id-con .table.wid-l table {
		min-width: auto;
	}
}
@media (max-width: 720px) {
	.inp .inp-area .auth-txt {
		right: 2.78vw;
		font-size: 2.5vw;
	}

	.inp .ico-upload-group {
		padding: 2.78vw;
		min-height: 11.11vw;
	}

	.inp .uploaded .ico-upload {
		display: none;
	}

	.inp.inp-upload .uploaded .btn-con {
		display: block;
		margin-top: 2.78vw;
		width: 100%;
	}

	.inp-file-list {
		margin-bottom: 0;
		width: 100%;
	}

	.inp-file-list li {
		margin-right: 0;
		margin-bottom: 2.78vw;
		min-width: auto;
		width: 100%;
	}

	.inp-file-list li:last-of-type {
		margin-bottom: 0;
	}

	.inp-file-list li span {
		padding-right: 1.39vw;
		width: calc(100% - 4.17vw);
	}

	.inp-file-list li .close-btn {
		width: 4.17vw;
	}

	.ico-upload-group2 {
		display: block;
	}

	.ico-upload-group2 .inp-file-text {
		padding: 0 2.78vw;
		width: 100%;
		height: 11.11vw;
		font-size: 3.06vw;
		border-radius: 1.39vw;
	}

	.ico-upload-group2 .btn-con {
		display: block;
		margin-left: 0;
	}

	.ico-upload-group2 .btn-con .btn {
		margin-top: 2.78vw;
		width: 100%;
		height: 11.11vw;
	}

	.ico-upload-group2 .btn-con .btn + .btn {
		margin-left: 0;
	}

	.ico-upload-group2 .auth-txt {
		right: 2.78vw;
		font-size: 2.5vw;
	}

	.search-con .inp-select .select-area {
		height: 11.11vw;
	}

	.search-con .inp-select .select {
		padding: 0 2.78vw;
	}

	.search-con .inp-select .select .selected-value {
		font-size: 3.33vw;
	}

	.search-con .inp-select .select::after {
		width: 5.56vw;
	}

	.search-con .inp-select .list {
		top: 9.72vw;
		padding: 2.08vw 1.39vw 1.39vw;
		font-size: 2.78vw;
	}

	.search-con .inp-select .list li {
		padding: 2.34vw 1.39vw;
	}

	.order-list li {
		width: 5.56vw;
		height: 5.56vw;
		font-size: 2.78vw;
	}

	.order-list li + li {
		margin-left: 1.39vw;
	}

	.join-con .join-list {
		display: block;
	}

	.join-con .join-list .items {
		padding: 8.33vw 5.56vw;
		width: 100%;
		height: auto;
		border-radius: 2.78vw;
	}

	.join-con .join-list .items + .items {
		margin-top: 5.56vw;
	}

	.join-con .join-list .items .title h3 {
		font-size: 4.44vw;
	}

	.join-con .join-list .items .title p {
		margin-top: 1.11vw;
		font-size: 3.61vw;
	}

	.join-con .join-list .items .icon {
		position: relative;
		left: 0;
		top: 0;
		-webkit-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		        transform: translate(0, 0);
		margin: 2.78vw auto;
		width: 20.83vw;
	}

	.join-con .join-list .items .btn {
		max-width: none;
		margin-top: 0;
		width: 100%;
		height: 11.11vw;
	}

	.join-con .terms-con .title-check {
		margin-bottom: 6.25vw;
		padding: 3.33vw 0;
	}

	.join-con .terms-con .sub-con .sub-check {
		margin-bottom: 6.25vw;
	}

	.join-con .terms-con .sub-con .sub-check .inp-chk {
		margin-bottom: 2.78vw;
	}

	.join-con .terms-con .sub-con .sub-check .detail-con {
		padding: 0.83vw;
		height: 27.78vw;
		font-size: 3.06vw;
		line-height: 1.4;
		border-radius: 1.39vw;
	}

	.join-con .terms-con .sub-con .sub-check .detail-con .scrollbar {
		padding: 1.94vw;
	}

	.accordion-list {
		margin-top: 4.17vw;
	}

	.accordion-list .items .title {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding: 4.86vw 2.78vw;
	}

	.accordion-list .items .title::after {
		right: 2.78vw;
		width: 5.56vw;
		height: 5.56vw;
	}

	.accordion-list .items .title .tag-con {
		margin-bottom: 4.17vw;
		width: 100%;
	}

	.accordion-list .items .title .num {
		display: block;
		margin-right: 2.78vw;
		width: auto;
		font-size: 3.61dvw;
	}

	.accordion-list .items .title .tag {
		margin-right: 0;
		width: 20.83vw;
		height: 8.33vw;
		line-height: 8.06vw;
		font-size: 3.06vw;
		border-radius: 4.17vw;
	}

	.accordion-list .items .title .txt {
		padding-right: 6.94vw !important;
		width: 100% !important;
		font-size: 3.61vw;
	}

	.accordion-list .items .title .date {
		margin-top: 2.78vw;
		margin-left: 0;
		width: 100%;
		font-size: 3.61vw;
	}

	.accordion-list .items .desc {
		margin: 6.94vw 0;
		padding: 0 6.94vw 0 4.17vw !important;
		font-size: 3.61vw;
	}

	.service-con .title-con .btn {
		margin-bottom: 4.17vw;
	}

	.mypage-con .column-con > div:last-of-type {
		margin-top: 8.33vw;
	}

	.channel-con {
		margin-top: 8.33vw;
	}

	.channel-con .title-con .btn {
		margin-bottom: 4.17vw;
	}

	.channel-con .table .type span {
		width: 13.89vw;
		height: 5.28vw;
		line-height: 5vw;
		font-size: 2.22vw;
		border-radius: 4.17vw;
	}

	.id-con {
		margin-top: 8.33vw;
	}

	.id-con .title-con .btn {
		margin-bottom: 4.17vw;
	}

	.step-con {
		margin-bottom: 11.11vw;
	}

	.step-con .inp-radio + .inp-radio {
		margin-top: 4.17vw;
	}

	.step-con .etc-con {
		margin-top: 4.17vw;
	}

	.step-con .inp-text-area {
		margin-top: 2.5vw;
	}

	.step-con .guide-con {
		padding-bottom: 8.33vw;
	}

	.step-con .guide-con ul {
		margin-bottom: 4.17vw;
	}

	.step-con .guide-con ul li {
		padding-left: 2.78vw;
		font-size: 3.33vw;
	}

	.step-con .guide-con ul li::before {
		left: 0.42vw;
		top: 1.78vw;
		width: 0.83vw;
		height: 0.83vw;
	}

	.step-con .inp-chk {
		margin-top: 5vw;
	}

	.step-check-con .white-box {
		padding: 3.47vw 5.56vw;
	}
}
/*# sourceMappingURL=maps/sub.css.map */
